# rename this file to .env and paste these credentials from EmailJS
# set the email address where you'd like incoming messages to be delivered
VITE_SERVICE_ID=
VITE_TEMPLATE_ID=
VITE_PUBLIC_KEY=
VITE_CONTACT_EMAIL=2910jainyash@gmail.com
